@use "@/styles/abstracts/mixins.scss" as *;

.text-field {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: var(--black);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px 0 15px;
  height: auto;

  &::placeholder {
    color: var(--gray-light);
    line-height: 22px;
    font-weight: 400;
    font-size: 15px;
  }
}

.text-field-container {
  @include flex-between(column);
}
