@import url(./vendor/fonts/fonts.scss);

:root {
  --black: #2c2c2c;
  --white: #e0e0e0;
  --gray: #4b4b4b;
  --gray-light: #6e6e6e;
  --blue: #1473e6;
  --red: #cc5151ab;
}

body {
  background-color: var(--white);
  font-family: "Exo 2";
  font-weight: 400;
  margin: 0;
  position: relative;
}
