@use "@/styles/abstracts/variables.scss" as *;
@use "sass:map";
@import url(./vendor/fonts/fonts.scss);

:root {
  --black: #{$black};
  --white: #{$white};
  --gray: #{$gray};
  --gray-light: #{$gray-light};
  --blue: #{$blue};
  --red: #{$red};
}

body {
  background-color: var(--white);
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
  font-family: "Exo 2";
  font-weight: 400;
  padding: 0 12px;
  max-width: map.get($breakpoints, "mobile");
}
